body {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #576574
}

.drop {
  position: absolute;
  border-radius: 10px;
  background-color: #2980b9;
  filter: blur(1px);
}

.btn-start-rain {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.lightning {
  animation-name: lightning;
  animation-duration: 2s;
}

.block-cloud {
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 45%;
  transform: translate(-50%, -50%);
  animation: moveBlockCloud01 120s linear infinite;
  z-index: 6;
  filter: blur(10px);
}

.cloud {
  background-color: #222f3e;
  width: 200px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -60%);
  opacity: 0.9;
}

@keyframes lightning {
  0%, 20% {
    background-color: white;
  }
  8%, 19%, 50%, 100% {
    background-color: #576574;
  }
}

.cloud.cloud01 {
  margin-left: -280px;
  margin-top: 5px;
  width: 100px;
  height: 100px;
}
.cloud.cloud02 {
  margin-left: -150px;
  margin-top: 25px;
}
.cloud.cloud03 {
  
}
.cloud.cloud04 {
  margin-left: 120px;
  margin-top: -15px;
  width: 150px;
}
.cloud.cloud05 {
  margin-left: 250px;
  margin-top: 15px;
  height: 170px
}
.cloud.cloud06 {
  margin-left: 380px;
  width: 150px;
}
.cloud.cloud07 {
  margin-left: 460px;
  width: 100px;
  height: 100px;
  margin-top: -20px;
}

@keyframes moveBlockCloud01 {
  0%, 100% {
    left: 7%;
  }
  50% {
    left: 63%;
  }
}